<%= render "layouts/navbar" %>
<div class="top-rectangle-user">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 profile_pic">
				<%= image_tag("profile.jpg", alt: "Cool Kangaroo", class: "profile_pic") %>
			</div>
			<div class="col-lg-6">
				<h2><%= @user.full_name %><%= image_tag "achieve.png", :class=>"achieve" %></h2>
				<p>Member since <%= @user.created_at.strftime("%D") %></p>
				<br>
				<p>Currently donating <span class="green">$<%= @user.donations.inject(0) {|sum, d| sum + d.monthly_amount} %></span> per month</p>
			<% @user.donations.each do |d| %>
				<p id="next_donations">Next donation: $<%= d.monthly_amount %> on <%= (d.created_at + 1.month).strftime("%D") %></p>
			<% end %>
				<br>
			</div>
			<div class="col-lg-3 text-center">
				<h1 class="green">$<%= @user.donations.inject(0) {|sum, d| sum + d.amount} + @user.donations.inject(0) {|sum, d| sum + d.monthly_amount} %></h1>
					<!-- Needs some kind of * (Time.now - @user.donations.created_at.to_time)/1.month).round -->
				<h4>Donated so far!</h4>
					<button class="btn-primary find-charity-btn"><a href="/charities">Donate <br><small>to new charity</small></a></button>
			</div>			
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="text-center">
				<h3 class="profile_title">News Feed</h3>
			</div>
						<% @user.donations.each do |d| %>
			<div class="row">
				<div class="col-md-5"><%= image_tag src="red.jpg", :class=>"red" %>
				</div>
				<div class="col-md-7 padding-top">
				<h4>Latest Update</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><hr>
				</div>
				<div class="col-md-5"><%= image_tag src="newproject.jpg", :class=>"red" %>
				</div>
				<div class="col-md-7 padding-top">
				<h4>New Project</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p><hr>
				</div>	
				<div class="col-md-5"><%= image_tag src="upevents.jpg", :class=>"red" %>
				</div>
				<div class="col-md-7 padding-top">
				<h4>Upcoming Events</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p><hr>
				</div>				
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="text-center">
					<h3 class="profile_title">Your Charities</h3>
				</div>
					<div class="charity-donated text-center">
					<%= image_tag src="Red_cross.png", :class => "charity-img"%> <h2> American Red Cross</h2>
					</div><hr>
					<% end %>
				<div class="row text-center">
					<button class="btn-primary find-charity-btn"><a href="/charities">Donate <br><small>to new charity</small></a></button>
				</div>
			</div>
		</div>
	</div>
</div>
