<%= render "layouts/navbar" %>
<div class="top-rectangle-user">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 profile_pic">
				<%= image_tag("profile.jpg", alt: "Cool Kangaroo", class: "profile_pic") %>
			</div>
			<div class="col-lg-6">
				<h2><%= @user.full_name %></h2>
				<p>Member since <%= @user.created_at.strftime("%D") %></p>
				<br>
				<p>Currently donating <span class="green">$<%= @user.donations.inject(0) {|sum, d| sum + d.monthly_amount} %></span> per month</p>
				<br>
			</div>
			<div class="col-lg-3 text-center">
				<h1 class="green">$<%= @user.donations.inject(0) {|sum, d| sum + d.amount} + @user.donations.inject(0) {|sum, d| sum + d.monthly_amount} %></h1>
					<!-- Needs some kind of * (Time.now - @user.donations.created_at.to_time)/1.month).round -->
				<h4>Donated so far!</h4>
					<button class="btn-primary find-charity-btn"><a href="/charities">Donate <br><small>to new charity</small></a></button>
			</div>			
		</div>
	</div>
	<div class="row text-center">
		<ul id="next_donations">
			<% @user.donations.each do |d| %>
				<li>Next donation: $<%= d.monthly_amount %> on <%= (d.created_at + 1.month).strftime("%D") %></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="text-center">
				<h3 class="profile_title">News Feed</h3>
			</div>
			<div class="row">
				<div class="charity-donated text-center">
					<%= image_tag src="Red_cross.png", :class => "charity-img"%> <h2> American Red Cross</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5"><%= image_tag src="red.jpg", :class=>"red" %>
				</div>
				<div class="col-md-7">
				<p>This post was written in September 2015 by Niki Clark, a member of the American Red Cross’s international communications team who was deployed to Nepal following the 7.8 magnitude earthquake that struck the country in April. I am boarding a plane to Tacloban—a city on the island of Leyte, in the Philippines. </p>
				</div>				
			</div>
		</div>
		<div class="col-lg-6">
			<div class="text-center">
				<h3 class="profile_title">Your Donations</h3>
			</div>
			<% @user.donations.reverse.each do |d| %>
				<div class="panel panel-success">
					<div class="panel-heading">[Charity Name/Picture]</div>
					<div class="panel-body">
						<p><%= d.created_at.strftime("%D") %> at <%= d.created_at.strftime("%H:%m") %>, you donated:</p>
						<ul>
							<li>$<%= d.monthly_amount %> per month</li>
							<li>$<%= d.amount %> one-time</li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>





<!-- 	<div class="row">
		<div class="col-lg-6">
			<h2 class="profile_title">News Feed</h2>
			<% @user.donations.each do |d| %>
			<div class="panel panel-primary">
				<div class="panel-heading">[Charity Name/Picture]</div>
				<div class="panel-body">
					<p>Meditation hoodie freegan, shoreditch pork belly listicle fanny pack pitchfork truffaut. Meggings shabby chic jean shorts, keffiyeh vinyl neutra cold-pressed blog. Gentrify cred sriracha vegan, banh mi chillwave single-origin coffee heirloom salvia pug godard roof party forage.<br><br>Synth tofu craft beer, gentrify gluten-free direct trade helvetica. Locavore mustache PBR&B lo-fi photo booth, health goth venmo. Locavore quinoa tofu, typewriter trust fund DIY YOLO. Drinking vinegar literally disrupt, lomo lumbersexual craft beer lo-fi meh heirloom pickled tousled vegan etsy distillery retro.</p>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-lg-6">
			<h2 class="profile_title">Your Donations</h2>
			<% @user.donations.reverse.each do |d| %>
				<div class="panel panel-success">
					<div class="panel-heading">[Charity Name/Picture]</div>
					<div class="panel-body">
						<p><%= d.created_at.strftime("%D") %> at <%= d.created_at.strftime("%H:%m") %>, you donated:</p>
						<ul>
							<li>$<%= d.monthly_amount %> per month</li>
							<li>$<%= d.amount %> one-time</li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div> -->
