
<%= render "layouts/navbar" %>
<%= form_for(@donation) do |form| %>
	<div class="container">
		<div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Donation Amount</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <%= form.text_field :amount, class: "form-control", placeholder: "One Time Donation Amount"%>
                                    
                                   <br>
                                    <%= form.text_field :monthly_amount, class: "form-control", placeholder: "Monthly Donation Amount"%>
                                </div>                            
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
        
        
        
        
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Details</h3> <!-- <img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png"> -->
                </div>
                <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Card Number">
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            
                                <div class="col-sm-4">
                                <label>EXPIRATION</label>
                                    <input type="text" class="form-control" name="expMonth" placeholder="MM">
                                </div>
                               
                                <div class="col-sm-4">
                                	<label>EXPIRATION</label>
                                    <input type="text" class="form-control" name="expYear" placeholder="YY">
                                </div>                    
                            <div class="col-sm-3 pull-right">
                                <div class="form-group">
                                    <label>CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV">
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <%= form.submit "Send Donation", class: "submit_button btn btn-success btn-lg btn-block" %>
                                
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-sm-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>


	</div>	
<% end%>

