<%= render "layouts/navbar" %>
<div class="top-bar">
	<div class="container">
	<h2> Choose a Charity!</h2>
	</div>
</div>
<div class="mid-bar"></div>
<div class="container">
	<% @charities.each do |c| %>
		<div class="row">
			<div class="col-sm-4">
				<div class="thumbnail text-center">
		    	<img class="img-box" src="<%= c.image %>">
					<div class="details text-center">
						<div class="secondary"><%= c.causes %></div> 
					</div>
				</div>
			</div>
			<div class="col-sm-6 ">
				<h3 id="name-link"><%= link_to c.name, c %></h3>
				<p><%= c.discription.first(400) %>...</p>
			</div>
			<div class="col-sm-2 button-section">
				<br>
				<%= link_to "Donate", make_donation_path(c.id), class: ' btn btn-primary donate-button' %>
				<%= link_to "Details", charity_path(c.id), class: ' btn btn-primary detail-button' %>
			</div>
		</div>	
		<hr>
	<% end %>
	 <span class="pull-right"><%= will_paginate @charities, renderer: BootstrapPagination::Rails %></span>
</div>
<div class="bot-top-bar"></div>
<div class="bot-bar"></div>