<%= render "layouts/navbar" %>
<div class="container">
<div class="row top-row">
	<h3>Choose a Charity</h3>
</div>
	<br>
	<% @charities.each do |c| %>
	    <div class="row">
		    <div class="col-sm-4">
			   <div class="thumbnail text-center">
		            <img src="<%= c.image %>">
					<div class="details text-center">
						
						
						<div class="secondary"><%= c.causes %></div> 
					</div> <!-- details -->
				</div> <!-- box -->
			</div>
			<div class="col-sm-6 ">
				<h3 id="name-link"><%= link_to c.name, c %></h3>
				<p><%= c.discription.first(80) %>...</p>
			</div>
			<div class="col-sm-2 button-section">
				<br>
				
				<%= link_to "Donate", make_donation_path(c.id), class: 'button btn btn-default' %>
				<%= link_to "Details", charity_path(c.id), class: 'button btn btn-default' %>
				
			</div>
		</div>	
		<hr>
	<% end %>
	 <%= will_paginate @charities, renderer: BootstrapPagination::Rails %>
</div>
