
<div class="container">
	<div class="row">
		<img src="<%= @charity.image %>">
	</div>
	<div class='row'>
		<h1><%= @charity.name %></h1>
		<h3><%= @charity.causes %></h3>
		<h3><%= @charity.city %></h3>
		<h3><%= @charity.state %></h3>
		<p><%= @charity.discription %></p>
		<%= button_to "Donate", new_user_path, class: "btn btn-default btn-lg", :method => :get %>
	</div>	
</div>	