
<div class="container">
	<div class="row">
		<img src="<%= @charity.image %>">
	</div>
	<div class='row'>
		<h1><%= @charity.name %></h1>
		<h3><%= @charity.causes %></h3>
		<h3><%= @charity.city %></h3>
		<h3><%= @charity.state %></h3>
		<p><%= @charity.discription %></p>
		<%= form_tag @charity, url: new_user_path, method: "get" do |f| %>
			<%= f.hidden_field :data, :value => @charity %>

			<%= f.submit "Donate", :class => 'submit_button btn btn-default' %>
        <% end %> 
		
	</div>	
</div>	