
<div class="container">
	<div class="row">
		<img src="<%= @charity.image %>">
	</div>
	<div class='row'>
		<h1><%= @charity.name %></h1>
		<h3><%= @charity.causes %></h3>
		<h3><%= @charity.city %></h3>
		<h3><%= @charity.state %></h3>
		<p><%= @charity.discription %></p>
		<button>Donate</button>
	</div>	
</div>	